body {
  background-color: #090a0e;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  background-color: #0f1014;

  display: grid;
  gap: 15px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-cover {
  width: 100%;
}
